<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<main>
    <nav class="nav d-flex justify-content-center">
        <a id="humor" class="p-2 link-secondary" style="font-size: 24px;">유머</a>
        <a id="politics" class="p-2 link-secondary" style="font-size: 24px;">정치</a>
        <a id="economy" class="p-2 link-secondary" style="font-size: 24px;">경제</a>
        <a id="society" class="p-2 link-secondary" style="font-size: 24px;">사회</a>
        <a id="sports" class="p-2 link-secondary" style="font-size: 24px;">스포츠</a>
        <a id="entertainer" class="p-2 link-secondary" style="font-size: 24px;">연예인</a>
    </nav>
</main>
</body>
</html>
