<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<main>
    <div class="container">
        <nav class="navbar flex-wrap navbar-expand-lg bg-light rounded" aria-label="Eleventh navbar example">
            <div class="container-fluid">
                <div class="collapse navbar-collapse" id="navbarsExample09">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item dropdown">
                            <a class="nav-link text-black dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false" style="font-size: 24px;" >작물</a>
                            <ul class="dropdown-menu">
                                <li><a id="strawberry" class="dropdown-item">딸기</a></li>
                                <li><a id="lettuce" class="dropdown-item">상추</a></li>
                                <li><a id="grape" class="dropdown-item">포도</a></li>
                            </ul>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link text-black dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false" style="font-size: 24px;" >지역</a>
                            <ul class="dropdown-menu">
                                <li><a id="gyung-gi" class="dropdown-item">경기도</a></li>
                                <li><a id="gang-won" class="dropdown-item">강원도</a></li>
                                <li><a id="chung-cheong" class="dropdown-item">충청도</a></li>
                                <li><a id="gyung-sang" class="dropdown-item">경상도</a></li>
                                <li><a id="jeon-ra" class="dropdown-item">전라도</a></li>
                            </ul>
                        </li>
                        <li><a id="spare" class="nav-link px-2 text-black" style="font-size: 24px;">예비 농부</a></li>
                        <li><a id="question" class="nav-link px-2 text-black" style="font-size: 24px;">질문 요청</a></li>

                    </ul>
                    <form role="search">
                        <input class="form-control" type="search" placeholder="Search" aria-label="Search">
                    </form>
                </div>
            </div>
        </nav>

    </div>
</main>
</body>
</html>
