<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="Uno Kim">
  <title>게시판 페이지</title>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/articles/card.css">
  <link href="/css/articles/blog.css" rel="stylesheet">
</head>

<body>
<header id="header">
  헤더 삽입부
  <hr>
</header>
<div class="nav-scroller py-1 mb-2">
  <nav id="nav">
    nav
  </nav>
</div>
<main class="container">

  <section>
    <div class="card">
      <div class="row">
        <ul class="pagination justify-content-between">
          <li><h4>유머</h4></li>
          <li><a id="humor-more" class="link-secondary" >더보기</a></li>
        </ul>
      </div>
        <table class="table" id="humor-table">
          <tbody>
          <tr>
            <td class="title col-6"><a>첫글</a></td>
            <td class="created-at col-4">첫글</td>
          </tr>
          </tbody>
        </table>
    </div>

    <div class="card">
      <div class="row">
        <ul class="pagination justify-content-between">
          <li class=""><h4>정치</h4></li>
          <li><a id="politics-more" class="link-secondary" >더보기</a></li>
        </ul>
      </div>
      <table class="table" id="politics-table">
        <tbody>
        <tr>
          <td class="title col-6"><a>첫글</a></td>
          <td class="created-at col-4">첫글</td>
        </tr>
        </tbody>
      </table>
    </div>

    <div class="card">
      <div class="row">
        <ul class="pagination justify-content-between">
          <li class=""><h4>경제</h4></li>
          <li><a id="economy-more" class="link-secondary" >더보기</a></li>
        </ul>
      </div>
      <table class="table" id="economy-table">
        <tbody>
        <tr>
          <td class="title col-6"><a>첫글</a></td>
          <td class="created-at col-4">첫글</td>
        </tr>
        </tbody>
      </table>
    </div>

    <div class="card">
      <div class="row">
        <ul class="pagination justify-content-between">
          <li class=""><h4>사회</h4></li>
          <li><a id="society-more" class="link-secondary" >더보기</a></li>
        </ul>
      </div>
      <table class="table" id="society-table">
        <tbody>
        <tr>
          <td class="title col-6"><a>첫글</a></td>
          <td class="created-at col-4">첫글</td>
        </tr>
        </tbody>
      </table>
    </div>

    <div class="card">
      <div class="row">
        <ul class="pagination justify-content-between">
          <li class=""><h4>스포츠</h4></li>
          <li><a id="sports-more" class="link-secondary" >더보기</a></li>
        </ul>
      </div>
      <table class="table" id="sports-table">
        <tbody>
        <tr>
          <td class="title col-6"><a>첫글</a></td>
          <td class="created-at col-4">첫글</td>
        </tr>
        </tbody>
      </table>
    </div>

    <div class="card">
      <div class="row">
        <ul class="pagination justify-content-between">
          <li class=""><h4>연예인</h4></li>
          <li><a id="entertainer-more" class="link-secondary" >더보기</a></li>
        </ul>
      </div>
      <table class="table" id="entertainer-table">
        <tbody>
        <tr>
          <td class="title col-6"><a>첫글</a></td>
          <td class="created-at col-4">첫글</td>
        </tr>
        </tbody>
      </table>
    </div>

  </section>


</main>

<footer id="footer">
  <hr>
  푸터 삽입부
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>
